<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gauges App.</title>
        <%- stylesheet_link_tag('bootstrap', 'style', 'bootstrap-responsive') %>
        <%- style %>
        <%- csrf_meta_tag() %>
        <link href="/widgets/css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">X-Plane Cockpit Gauges</a>
                </div>
            </div>
        </div>

        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>

            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>

            <%- body %>

            <footer>
                <p>&copy; davide.molin 2012</p>
                <script src="/socket.io/socket.io.js"></script>
                <%- javascript_include_tag(
                'lib/modernizr.min',
                'http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js',
                'lib/tash-0.0.1-min',
                'http://code.createjs.com/easeljs-0.5.0.min.js',
                'bootstrap',
                'rails',
                'application'
                ) %>
                <script src="/widgets/code"></script>
            </footer>
        </div>
    </body>
</html>